.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 280px;
  height: 360px;
  padding: 24px 38px 21px;

  background-color: black;
  justify-self: center;

  .title {
    margin-top: 7px;

    text-align: center;
  }

  &Bottom {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 7px;
  }
}
